
/* Set height and width for images */
img{
    height: 250px;
    width: 250px;
}
    
/* Center align the header */
h2{
    margin-left: 37%;
    font-weight: bold;
}
    
/* Set bold font and color for labels */
label{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
    
/* Set white color for header */
header{
    color: rgb(255, 255, 255);
}

input:disabled {
  background: #dddddd;
}

input:disabled+label {
  color: none;
  background: none;
  background-color: none;
}