<!-- container for the row of cards -->
<div class="container">
    <!-- first column card -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <!-- card image -->
            <img src="assets/mv_birthday.jpg" class="card-img-top" alt="Birthday"/>
            <div class="card-body">
              <!-- card title -->
              <h5 class="card-title">BIRTHDAY</h5>
              <p class="card-text">
                <!-- card information -->
                <b>Album</b>
                <br>
                Release Date: <b>Nov 28, 2022</b>
                <br><br>
                  <!-- external links -->
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://www.youtube.com/watch?v=Ut1OzEVUiM4" role="button"><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://open.spotify.com/track/4LJgBT9yo0beHlaBesCFEv?si=ecaedcaae6f4425f" role="button"><i class="fab fa-spotify"></i></a>
              </p>
            </div>
          </div>
        </div>
        <!-- second column card -->
        <div class="col">
          <div class="card">
            <!-- card image -->
            <img src="assets/mv_umpah_umpah.jpg" class="card-img-top" alt="Umpah Umpah"/>
            <div class="card-body">
              <!-- card title -->
              <h5 class="card-title">UMPAH UMPAH</h5>
              <p class="card-text">
                <!-- card information -->
                <b>Album</b>
                <br>
                Release Date: <b>Aug 19, 2019</b>
                <br><br>
                  <!-- external links -->
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://www.youtube.com/watch?v=vHS9E6JFja8" role="button"><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://open.spotify.com/track/5qSoW3ewNlhRN3FNZPmVns?si=3694f07a438b4608" role="button"><i class="fab fa-spotify"></i></a>
              </p>
            </div>
          </div>
        </div>
        <!-- third column card -->
        <div class="col">
          <div class="card">
            <!-- card image -->
            <img src="assets/mv_power_up.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
            <div class="card-body">
              <!-- card title -->
              <h5 class="card-title">POWER UP</h5>
              <p class="card-text">
                <!-- card information -->
                  <b>Album</b>
                    <br>
                  Release Date: <b>Aug 6, 2018</b>
                  <br><br>
                  <!-- external links -->
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://www.youtube.com/watch?v=aiHSVQy9xN8" role="button"><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://open.spotify.com/track/381g0b6QZxC13SzA2HRMIc?si=56bebb844b854345" role="button"><i class="fab fa-spotify"></i></a>
              </p>
            </div>
          </div>
        </div>
        <!-- fourth column card -->
        <div class="col">
          <div class="card">
            <!-- card image -->
            <img src="assets/mv_happiness.jpg" class="card-img-top" alt="Skyscrapers"/>
            <div class="card-body">
              <!-- card title -->
              <h5 class="card-title">HAPPINESS</h5>
              <p class="card-text">
                <!-- card information -->
                <b>Album</b>
                <br>
                Rlease Date: <b>Aug 3, 2014</b>
                <br><br>
                  <!-- external links -->
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://www.youtube.com/watch?v=JFgv8bKfxEs" role="button"><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://open.spotify.com/track/6XP9L7di5JnOc9WaeAW8oe?si=a5662c94c43d4b26" role="button"><i class="fab fa-spotify"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>