<h3>{{page_title}}</h3>

<!-- THIS CONTAINER CONTAINS THE ADD METHOD FOR ACCOUNTS -->
<div class="container-fluid">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-12">
      <form class="p-5 border rounded-3 bg-dark" [formGroup]="accountForm" (ngSubmit)="addComponent()">
        <h1 class="display-4 fw-bold lh-4 mb-3">ADD NEW ACCOUNT</h1>
        <div class="form-floating mb-3">  
          <input type="text" class="form-control" id="name" formControlName="name" required>
          <label for="name">Input Name</label>
        </div>
        <button class="btn btn-secondary" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>

<br>

<!-- ACCOUNT DISPLAY SECTION -->
<div class="container container-fluid text-center">
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-4" *ngFor="let account of ACCOUNTSAMP">
      <div class="card mb-3 bg-dark">
        <div class="card-body d-flex justify-content-center"> <!-- Added flex center class here -->
          <img src="{{account.imgPath}}" class="img-thumbnail active center-img"> <!-- Added class for centering -->
        </div>
        <h2 class="text-light">{{account.fname}} {{account.lname}}</h2>
        <div class="card-body">
          <span class="text-info">{{account.marital}} </span>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-info btn-center btn-me-2" (click)="viewAccount(account.id)">
            <i class="bi bi-info-circle"></i>View
          </button>
          <button type="button" class="btn btn-info btn-center btn-danger me-2" (click)="deleteComponent(account.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
