 <!-- Footer -->
 <!-- FOOOTER REFERENCE https://mdbootstrap.com/docs/standard/navigation/footer/ -->
 <footer class="bg-dark bg-gradient text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

      <!-- Section: Social media -->   
      <!-- SOCIAL MEDIA ICON REFERENCE: https://mdbootstrap.com/docs/standard/extended/social-media/#! -->

      <section class="mb-4">

        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" target="_blank" href="https://www.facebook.com/RedVelvet/" role="button"><i class="fab fa-facebook"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" target="_blank" href="https://instagram.com/redvelvet.smtown/" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" target="_blank" href="https://twitter.com/RVsmtown/" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Youtube -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" target="_blank" href="https://www.youtube.com/@redvelvet" role="button"><i class="fab fa-youtube"></i></a>

        <!-- TikTok -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" target="_blank" href="https://www.tiktok.com/@redvelvet_smtown" role="button"><i class="fab fa-tiktok"></i></a>

        <!-- Spotify -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" target="_blank" href="https://open.spotify.com/artist/1z4g3DjTBBZKhvAroFlhOM?si=_mHJn2ruST6Y3ITWCuXdGQ" role="button"><i class="fab fa-spotify"></i></a>

      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for more updates</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" placeholder="Email Address" class="form-control" />
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="button" class="btn btn-outline-light mb-4" routerLink='/home'>
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-danger bg-gradient">© 2023 Copyright: 
      <a class="text-white" role="button" target="_blank" href="https://www.facebook.com/krisstiaan.j"><b> CHRISTIAN JUNIO</b></a>
          and    
      <a class="text-white" role="button" target="_blank" href="https://www.facebook.com/bacclangseulgi"><b>RENATO CONSOLACION</b></a>  
    </div>
</div>
    <!-- Copyright -->
<!-- Footer -->