<div class="container">
    <!-- About Red Velvet's "Birthday" Music Video -->
    <div class="card mb-3">
        <!-- Image CTTO: https://www.uhdpaper.com/2022/09/red-velvet-birthday-all-members-4k-5601j.html -->
        <img src="assets/about_pic.jpg" class="card-img-top" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Red Velvet 레드벨벳 'Birthday' MV</h5>
          <p class="card-text">
            <br>
            Red Velvet is a popular South Korean girl group known for their upbeat and catchy music, as well as their unique and colorful visuals. 
            'Birthday' is one of their most popular songs, and the accompanying music video showcases their talent and creativity.
            The music video for 'Birthday' was released on November 28, 2022, and quickly gained popularity among fans around the world. 
            The video features the members of Red Velvet in a playful and vibrant setting, filled with bright colors, fun props, and interactive elements. 
            The members each showcase their individual styles and personalities, creating a visually stunning and engaging experience for viewers.
            <br>
            <br>
            It also features empowering lyrics that encourage listeners to embrace their unique qualities and celebrate their lives. 
            The song is a celebration of self-love and self-empowerment, inspiring fans to feel confident and joyful.
            <br>
            <br>
            This music video is a testament to Red Velvet's talent and creativity, and a must-watch for anyone who loves K-pop and upbeat music. 
            It showcases the group's ability to blend catchy music with stunning visuals, creating a truly immersive and entertaining experience for their fans.
          </p>
          <br>
          <a class="btn btn-outline-dark btn-floating m-1" target="_blank" href="https://www.youtube.com/watch?v=Ut1OzEVUiM4" role="button"> Watch on YouTube <i class="fab fa-youtube"></i></a>
        </div>
      </div>