    <!-- Background Image for Home Component -->
    <div class="home-image background-image">
        <div class="overlay-text">
            <h4>RED VELVET</h4>
			<hr>
            <p>Red Velvet, which debuted in August 2014 with "Happiness", is a girl group born with the ambition to captivate the world with sophisticated music and performances, and consists of five members: Seulgi, Irene, Wendy, Joy, and Yeri.</p>
            <p>Red Velvet is unique for having two different themes for it songs and music videos, the "red", which represents the group's bright, bold and abstract side, and the "velvet", which represents the toned down, elegant and mature side of the group.</p>
            <hr>
        </div>		
    </div>